<div class="p-d-flex p-jc-center p-ai-center" style="padding: 10px;">
  <button
    pButton
    type="button"
    label="Agregar Tarea"
    icon="pi pi-plus"
    class="p-button-success"
    (click)="redirect()"
  ></button>
</div>

<div class="p-d-flex p-jc-center" style="padding: 10px;">
  <p-card header="Lista de Tareas" styleClass="p-shadow-4" [style]="{ width: '80%', maxWidth: '900px' }">
    <p-table [value]="tareas" [responsiveLayout]="'scroll'"
        [paginator]="true"
        [rows]="10"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '600px' }"
        [rowsPerPageOptions]="[10, 20, 50]"
        class="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nro" style="width:5%">
            Id <p-sortIcon field="nro" />
          </th>
          <th pSortableColumn="tarea" style="width:25%">
            Tarea <p-sortIcon field="tarea" />
          </th>
          <th pSortableColumn="categoria" style="width:15%">
            Categoría <p-sortIcon field="categoria" />
          </th>
          <th pSortableColumn="fecha" style="width:10%">
            Fecha <p-sortIcon field="fecha" />
          </th>
          <th pSortableColumn="prioridad" style="width:10%">
            Prioridad <p-sortIcon field="prioridad" />
          </th>
          <th pSortableColumn="estado" style="width:10%">
            Estado <p-sortIcon field="estado" />
          </th>
          <th style="width:15%">Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tarea>
        <tr>
          <td>{{ tarea.id }}</td>
          <td>{{ tarea.name }}</td>
          <td>{{mapCategory( tarea.category) }}</td>
          <td>{{  tarea.date | date:'dd/MM/yyyy'  }}</td>
          <td>{{ mapPriority(tarea.priority) }}</td>
          <td>{{ mapState(tarea.state) }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm"
                    (click)="redirectUpdate(tarea.id)" tooltip="Editar"></button>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                    (click)="deleteTarea(tarea.id)" tooltip="Eliminar"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
