<div class="p-d-flex p-jc-center p-ai-center" style="height: 100vh;   justify-content: center;  align-items: center;  padding: 10px;
    box-sizing: border-box;">
  <p-card header="Lista de Tareas" styleClass="p-shadow-4" [style]="{'width': '80%'}">

    <p-table [value]="tareas" [responsiveLayout]="'scroll'"
        [paginator]="true"
        [rows]="10"
        styleClass="p-datatable-striped" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 20, 50]"
        class="p-datatable-sm">

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="nro" style="width:5%">
                  Nro <p-sortIcon field="nro" />
                </th>
                <th pSortableColumn="tarea" style="width:25%">
                  Tarea <p-sortIcon field="tarea" />
                </th>
                <th pSortableColumn="categoria" style="width:15%">
                  Categoría <p-sortIcon field="categoria" />
                </th>
                <th pSortableColumn="fecha" style="width:10%">
                  Fecha <p-sortIcon field="fecha" />
                </th>
                <th pSortableColumn="prioridad" style="width:10%">
                  Prioridad <p-sortIcon field="prioridad" />
                </th>
                <th pSortableColumn="estado" style="width:10%">
                  Estado <p-sortIcon field="estado" />
                </th>
                <th style="width:15%">Acción</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tarea>
              <tr>
                <td>{{ tarea.nro }}</td>
                <td>{{ tarea.tarea }}</td>
                <td>{{ tarea.categoria }}</td>
                <td>{{ tarea.fecha }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>{{ tarea.estado }}</td>
                <td>
                  <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm" 
                          (click)="editarTarea(tarea)" tooltip="Editar"></button>
                  <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm" 
                          (click)="borrarTarea(tarea)" tooltip="Eliminar"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>