

<p-card header="Autentificacion"  [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
  
  </ng-template>
  
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field grid">

      <label for="email" class="col-fixed" style="width:100px"> Correo Electrónico </label>
      <div class="col">
        <!-- <input id="email" formControlName="email" placeholder="Ingrese su email" /> -->
        <input type="text" id="email" pInputText formControlName="email"   />
        <!-- <pInputText id="email" formControlName="email" placeholder="Ingrese su email"/>  -->
      </div>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <small> El correo Electrónico es invalido</small>
        </div>
      </div>
    
      <div class="field grid">
        <label for="password" class="col-fixed" style="width:100px"> Contraseña </label>
       
       <!--  <input type="password" id="password" formControlName="password" /> --> 

       <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 px-5 py-3 border-round">
       <p-password            id="password" formControlName="password"  [feedback]="false"    ></p-password>
     
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small> La Contraseña es requerida</small>
        </div>
      </div>

      <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
      <p></p>
      <button  pButton  type="submit" label="Login"  [disabled]="loginForm.invalid"  icon="pi pi-check" class="p-button-success w-full" ></button>

      <div *ngIf="errorMessage">{{errorMessage}}</div>

    </form>


  
  
</p-card>

 

